* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ba9b5e;
  }

  img {
    width: 200px;
  }
 
  